NODE_ENV=development
PORT=5000
JWT_SECRET=your_super_secret_jwt_key_change_in_production
CLIENT_URL=http://localhost:5137

# MongoDB Atlas (recommended)
MONGODB_USER=chaudhatul15
MONGODB_PASSWORD=Atul1234$
MONGODB_CLUSTER=cluster0.o0naepv.mongodb.net
MONGODB_DB=campus-placement-portal

# Or use a full connection string instead:
# MONGODB_URI=mongodb+srv://user:password@cluster0.xxxxx.mongodb.net/campus-placement-portal?retryWrites=true&w=majority

# Required for resume uploads (PDF -> Cloudinary)
CLOUDINARY_CLOUD_NAME=dzupsfgjx
CLOUDINARY_API_KEY=126414199889425
CLOUDINARY_API_SECRET=9U7UGIPZBPMf9IuhPMqRyt2zSB8
